.header {
  background: rgba(123, 97, 255, 0.05);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    .logo {
      width: 60px;
      height: 50px;
      object-fit: cover;
    }
    .logo-name {
      width: 120px;
      object-fit: cover;
    }
  }

  nav {
    .nav-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
     
      list-style: none;
      text-decoration: none;

      .nav-item a {
        color: #2e193e;
        text-decoration: none;
        padding: 0 10px;
        font-size: 2rem;
        &.active-link {
          color: #764cae;
        }
      }
    }
  }
}
