.technologies {
  background: linear-gradient(
      0deg,
      rgba(123, 97, 255, 0.42),
      rgba(123, 97, 255, 0.42)
    ),
    url("https://devapi.softylines.com/uploads/pexels_thisisengineering_3861972_1_492163b442.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    width: 100%;
    padding: 0 50px;
    .page-header {
      color: #ffcf2a;
      font-weight: 500;
      font-size: 2.5rem;
      line-height: 40px;
    }
    .sub-title {
      font-size: 4.5rem;
      line-height: 62px;
      max-width: 1000px;
      color: white;
    }
    .description {
      font-size: 2rem;
      line-height: 30px;
      color: white;
      max-width: 1000px;
    }
    .contact-us {
      font-size: 2rem;
      padding: 20px 30px;
      color: #2e193e;
      background: #ffcf2b;
      border: 1px solid #ffcf2b;
      box-shadow: 0 5px 11px rgb(255 207 42 / 25%);
      border-radius: 61px;
      align-self: flex-start;
      margin-top: 21px;
      align-self: center;
      cursor: pointer;
      transition: all 0.3s ease;
      min-width: 18rem;
      font-weight: 700;
      line-height: 26px;
      text-align: center;
      text-transform: capitalize;
    }
    .all-tech {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 800px;
      margin: 50px auto;
      .technologie-img {
        background-color: #2e193e;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        cursor: pointer;
        padding: 10px;
        transition: 0.3s ease-in-out;
        &:hover {
          transform: scale(1.2);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 5px;
        }
      }
    }
  }
}
