.home {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: calc(100vh - 80px);
  .content {
    width: 55%;

    .speciality {
      color: #b485ff;
      font-size: 3rem;
      display: inline-block;
      margin-bottom: 17px;
      font-weight: 500;
    }
    .goals {
      font-size: 6.4rem;
      color: #2e193e;
      margin-bottom: 30px;
      font-weight: 800;
      text-transform: capitalize;
    }
    .description {
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 42px;
      text-transform: capitalize;
      color: #2e193e;
      margin-bottom: 50px;
    }
  }
  .img {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background: linear-gradient(
      112.5deg,
      rgb(164, 80, 139) 11.4%,
      rgb(95, 10, 135) 60.2%
    );
    padding: 10px 40px 30px;
  }
}
