.technologie {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  position: relative;
  .content {
    background: linear-gradient(45deg, #5f0a87, #5f0a87);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    h1 {
      color: white;
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 20px;
    }
    p {
      color: white;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
    }
    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      border-radius: 10px;
    }
  }
  .arrow-back {
    position: absolute;
    top: 50px;
    left: 50px;
    transform: rotate(180deg);
    cursor: pointer;
    img {
      &:hover {
        filter: invert(84%) sepia(38%) saturate(65%) hue-rotate(157deg)
          brightness(107%) contrast(98%);
      }
    }
  }
}
