@use "./Layout/Header";
@use "./components/LoadingScreen";
@use "./pages/Home";
@use "./pages/NotFound";
@use "./pages/Technologies";
@use "./pages/Technologies/Technologie/technologie";
@use "./pages/About";
@use "./Layout";
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}

html {
  font-size: 10px;
}

body {
  background: #f5f5f5;
}
