#oopss {
  background: linear-gradient(-45deg, #b485ff, #9661ec);
  position: fixed;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  z-index: 9999;

  #error-text {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Shabnam", Tahoma, sans-serif;
    color: #000;
    direction: rtl;
    img {
      margin: 85px auto 20px;
      height: 342px;
    }
    span {
      position: relative;
      font-size: 3.3em;
      font-weight: 900;
      margin-bottom: 50px;
    }
    p {
      font-size: 1.9rem;
      margin: 30px 0 15px 0;
    }
    .back {
      background: #fff;
      color: #000;
      font-size: 3rem;
      text-decoration: none;
      margin: 2em auto 0;
      padding: 0.7em 2em;
      border-radius: 500px;
      box-shadow: 0 20px 70px 4px rgba(0, 0, 0, 0.1),
        inset 7px 33px 0 0px #9f0dcb;
      font-weight: 900;
      transition: all 300ms ease;
      &:hover {
        -webkit-transform: translateY(-13px);
        transform: translateY(-13px);
        box-shadow: 0 35px 90px 4px rgba(0, 0, 0, 0.3), inset 0px 0 0 3px #000;
      }
    }
  }
}
